<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= title %>
    </title>

</head>

<body id="body" class="">
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__group">
                    <a href="" class="header__logo">
                        <img src="<%=require('@img/logo.svg') %>" alt="">
                    </a>
                    <div class="header__txt">
                        <h3 class="header__title">
                            Делаем идеальный ремонт квартир
                        </h3>
                        <p class="header__text">
                            в Москве с 2010 года
                        </p>
                    </div>
                    <div class="header__rate header-rate">
                        <span class="header-rate__count">
                            4,9
                        </span>
                        <div class="header-rate__content">
                            <div class="header-rate__stars">
                                <i>
                                    <img src="<%=require('@img/star.svg') %>" alt="">
                                </i>
                                <i>
                                    <img src="<%=require('@img/star.svg') %>" alt="">
                                </i>
                                <i>
                                    <img src="<%=require('@img/star.svg') %>" alt="">
                                </i>
                                <i>
                                    <img src="<%=require('@img/star.svg') %>" alt="">
                                </i>
                                <i>
                                    <img src="<%=require('@img/star.svg') %>" alt="">
                                </i>
                            </div>
                            <p class="header-rate__txt">
                                Рейтинг «Domeo» <br>
                                на основе <span>530 отзывов</span>
                            </p>
                        </div>
                    </div>
                    <div class="header__ach header-ach">
                        <div class="header-ach__img">
                            <img src="<%=require('@img/nagrada.svg') %>" alt="">
                        </div>
                        <p class="header-ach__txt">
                            <strong>
                                Лучшее обслуживание
    клиентов
                            </strong> по версии 
Houzz 2021
                        </p>
                    </div>
                </div>
                <div class="header__contacts">
                    <a href="tel:+7 (495) 845-17-58" class="header__contacts-phone">+7 (495) 845-17-58</a>
                    <div class="header__contacts-txt">
                        <i class="circle-pulse">
                                                        
                        </i>
                        <span>Звоните, мы сейчас работаем</span>
                    </div>
                </div>
                <a href="tel:+7 (495) 845-17-58" class="header__telmob">
                    <img src="<%=require('@img/mob-tel.svg') %>" alt="">
                </a>
            </div>
        </div>
    </header>